.cta--panel{
    padding: var(--space-40);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background-color: white;
    h2{
        font-size: var(--step-3);
        font-weight: 400;;
    }
    &--square{
        aspect-ratio: 1/1;
    }
}