.intro{
    padding: 0;
    margin: 0 auto;
    display: grid;
    width: var(--width-wide-inset);
    max-width: var(--width-max-inset);
    grid-template-areas: ". text . media .";
    grid-template-columns: 1fr 6fr 1fr 4fr 2fr;
    gap: var(--space-20);
    align-items: center;
    &__text{
        grid-area: text;
        padding: var(--space-60) 0;
        >p{
            max-width: 500px;
        }
        h1{
            margin-bottom: var(--space-40);
        }
    }
    &__media{
        grid-area: media;
        position: relative;
        &__image{
            max-width: 100%;
            max-height: 100%;
            filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
        }
    }
    &__background{
        position: absolute;
        top: -5%;
        left: -70%;
        width: calc(100% + 120%);
        height:calc(100% + 20%);
    }
    &__statistics{
        font-size: var(--step-2);
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 0.1em;
        position: relative;
        margin-top: var(--space-80);
        max-width: 300px;
        strong{
            display: block;
            font-size: var(--step-4);
            line-height: 1.5em;
    
        }
        &__background{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -45%);
            width: 180%;
            height: 250%;
        }
        p{
            margin-top: 0;
        }
    }
}
@media(max-width: 1400px){
    .intro{
        grid-template-areas: "text text . media .";
    }
}
@media(max-width: 1280px){
    .intro{
        grid-template-areas: "text text . media media";
    }
}
@media(max-width: 1024px){
    .intro{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "text text text" ". media .";
        &__text{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: "heading stats" "text stats" "button .";
            row-gap: var(--space-40);
            column-gap: var(--space-80);
            h1{
                margin-bottom: 0;
                grid-area: heading;
            }
            >p{
                margin: 0;
                grid-area: text
            }
            .button{
                margin-top: 0;
                grid-area: button;
            }
            
        }
        &__statistics{
            margin-top: 0;
            order: 2;
            grid-area: stats;
            align-self: center;
        }
    }
}
@media(max-width: 768px){
    .intro__text{
        grid-template-columns: auto;
        grid-template-areas: "heading" "text" "stats" "button";
    }
}
@media(max-width: 480px){
    .intro{
        grid-template-columns: 1fr 3fr 1fr;
    }
}